<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contraseña olvidada</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
    <form>
      <div class="input-group">
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" placeholder="example@domain.es" [clearInput]="true" #email required></ion-input>
              <ion-note slot="helper" color="dark">Ingrese su correo para recuperar la contraseña</ion-note>      
            </ion-item>
          </ion-col>
        </ion-row>
        
      </div>
        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              color="warning"
              (click)="authService.PasswordRecover(email.value)"
              expand="block"
              shape="round"
            >
              Enviar correo
            </ion-button>
          </ion-col>
        </ion-row>
    </form>
</ion-content>